body {
    background: #FFFFFF;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #313234;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    color: #242a30;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    font-weight: 300;
    color: #7c7f83;
}
a {
    transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out;
}
a:focus {
    outline: none;
}
label {
    color: #242a30;
}

#example-js-preview {
    max-height: 250px;
    overflow: scroll;
}

#event-log-table {
    font-size: 13px;
}
.content-box{
    width:100%;
    padding: 10px;
    background-color: #ebeff9;
    border-top: solid 1px #7c7f83;
    border-bottom: solid 1px #7c7f83;
    margin-top: 10px;
    margin-bottom: 10px;
}
#new-interval {
    width: 30px;
    border: 0;
    color: #A5A5A5;
    background-color: #EBEFF9;
}
